@import "variable";

/* color para el fondo */

body, .padre1 {
    background-color: #52525296;
  }
  
  .ancla {
    text-decoration: solid;
    font-size: medium;
    text-transform: uppercase;
  }
  
  /* TITULO */
  
  .padre1, .navbar-expand-lg .bg-light {
    background-color: linear-gradient(180deg, rgb(163, 141, 141) 6%, rgba(33, 33, 33, 1) 50%);
  }
  
  /* BOTONES DE MENU */
  
  .padre2, .row {
    list-style: none;
  }
  
  .mb-3 {
    height: 40px;
    width: 540px;
  }
  
  .novedades, col {
    background-color: $color-masusado;
    border-radius: 4px;
    height: 40px;
    width: 20px;
  }
  
  .noticias, col, .recomendados, col, .estrenos, col, .nosotros, col {
    background-color: $color-masusado;
    border-radius: 4px;
  }
  
  /* PORTADA*/
  
  .fotito:hover, text-center, img-fluid {
    border-radius: 20px;
    filter: grayscale(70%);
  }
  
  .fotito:hover, text-center, img-fluid {
    transition: all 0, 5s;
  }
    /* Letras*/
  p, h3, h2 {
    display: flex;
    justify-content: center;
    color: $color-letras;
  }
  h3 {
    font-size:large;
    font-weight: bold;
  }

  /* Tarjetas*/
  
  .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .barbie, .buss, .stranger, .thor, .black, .marvel {
    background: linear-gradient( $color-masusado, #212121);
    height: 420px;
    width: 265px;
    border-radius: 30px;
  }
  
  /*segundas tarjetas*//* caja de footer*/
  
  footer {
    background-color: #3C2323;
  }
  iframe {
    display:flex;
    justify-content: space-between;
    height: 1800px;
    width: 1000px;
  }
  
  /* subcripcion */
  
  .container-fluid, .bajo, .button {
    color: #3C2323;
  }
  
  hr {
    background-color: #737373;
    border: #737373 solid;
    height: 0px;
  }
  
  /* CONTACTOS*/
  
  .presenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  .caja1 {
    background: rgb(153, 107, 107);
    background: linear-gradient(180deg, rgba(153, 107, 107, 1) 44%, rgba(33, 33, 33, 1) 100%);
    height: 200px;
    width: 600px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .nombre {
    background-color: rgb(216, 219, 221);
    backface-visibility: initial;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    justify-content: center;
  }
  
  .envi {
    background-color: #DFB520;
    backface-visibility: initial;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    justify-content: center;
  }
  
  .preguntas {
    background-color: rgb(216, 219, 221);
    backface-visibility: initial;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  
  iframe {
    display: flex;
    justify-content: center;
  }
  
  /* TARJETAS DE ESTRENOS*/
  
  iframe {
    display: flex;
    justify-content: center;
  }
  
  /* TARJETAS DE RECOMENDADOS*/
  
  .corea, .hbo, .estafa, .hbom, .suse, .cosso {
    background: linear-gradient( $color-masusado, #212121);
    height: 280px;
    width: 365px;
    border-radius: 20px;
  }
  
  .port {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10px;
    width: 50px;
    size: 40px;
  }
  
  /* TARJETAS DE NOTICIAS*/
  
  .spenc, .crista, .mue, .cmo, .xx, .our {
    background: linear-gradient( $color-masusado, #212121);
    height: 280px;
    width: 365px;
    border-radius: 20px;
  }
  
  .nave ul li {
    list-style-type: none;
    margin: 0 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
  
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
  
  main .tarjetas, img p {
    display: flex;
    justify-content: space-between (0,0,2,8);
  }
  
  @keyframes cine {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  .padre1 .row {
    animation-name: cine;
    animation-duration: 2s;
    animation-iteration-count: initial;
  }